.paadding{
    // padding-left: 80px;
    //padding-top: 10px;
    //padding-right: 110px;

}

.css-xjhrni {
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    padding-right:10px;
}
.css-1qjnrii {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
   
   
    border-width: 1px;
    border-style: solid;
    float: right;


    border: 1px solid #282c3f;
    margin: 7px 0 6px;


    padding: 8px 16px 7px;
    border-radius: 4px;
   
}
.addressList-base-title {
    float: left;
    font-weight: 700;
    color: #282c3f;
    font-size: 18px;
    margin: 12px 0;
}
.addressList-base-titleContainer {
    margin-bottom: 12px;
    height: 45px;
}